<!DOCTYPE html>
<html lang="en" style = "height: 100%">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- 헤더 부분 -->
<header style = "border: 2px solid; height: 15%; text-align: center;">
    <!-- 로고 -->
    <div style = "border: 2px solid; width: 20%; height: 100%; margin: 0 auto; display: inline-block;">로고</div>
    <!-- 회원가입, 로그인 버튼 -->
    <div style = "border: 2px solid; width: 20%; height: 100%; margin: 0 auto; display: inline-block; align-self: flex-end">
        <div id = "btn-login-form" style = "border: 2px solid; display: inline-block;"><button>로그인</button></div>
        <div style = "border: 2px solid; display: inline-block;"><button>회원가입</button></div>
    </div>
</header>

<body style = "height: 85%">
  <!-- 내 정보 부분 ( 왼쪽 div )-->
  <div style = "border: 2px solid; width: 30%; height: 100%; display: inline-block; overflow: hidden;">
      <div style= "border: 2px solid; height: 60%;  box-sizing: border-box;">프로필</div>
      <div style= "border: 2px solid; height: 10%;  box-sizing: border-box;">자유게시판</div>
      <div style= "border: 2px solid; height: 10%;  box-sizing: border-box;">마이페이지</div>
      <div style= "border: 2px solid; height: 10%;  box-sizing: border-box;">기타</div>
      <div style= "border: 2px solid; height: 10%;  box-sizing: border-box;">등등</div>
  </div>

  <!-- 매칭 부분 ( 오른쪽 div ) -->
  <div style = "border: 2px solid; width: 69%; height: 100%; display: inline-block; overflow: hidden;">
      <div id = "div-matching" style="border: 2px solid; height: 65%">
          매칭 조건 설정 화면
          <div style = "border: 2px solid; overflow: hidden">
              <div style="border: 2px solid;">
                  <input type = "radio" name = "mode" value = "solo" checked> 솔랭
                  <input type = "radio" name = "mode" value = "flex"> 자유랭
                  <input type = "radio" name = "mode" value = "wind"> 칼바람
              </div>
              <div style="border: 2px solid;">
                  <input type = "radio" name = "myLine" value = "top" checked> 탑
                  <input type = "radio" name = "myLine" value = "mid"> 미드
                  <input type = "radio" name = "myLine" value = "jungle"> 정글
                  <input type = "radio" name = "myLine" value = "ad"> 원딜
                  <input type = "radio" name = "myLine" value = "sup"> 서폿
              </div>
              <div style="border: 2px solid;">
                  <input type = "radio" name = "duoLine" value = "top" checked> 탑
                  <input type = "radio" name = "duoLine" value = "mid"> 미드
                  <input type = "radio" name = "duoLine" value = "jungle"> 정글
                  <input type = "radio" name = "duoLine" value = "ad"> 원딜
                  <input type = "radio" name = "duoLine" value = "sup"> 서폿
              </div>
          </div>
          <button id = "btn-start-matching" style="width: 100%; height: 10%;">매칭 시작</button>
          <button id = "btn-matching-accept" style="width: 100%; height: 10%;">수락</button>
          <button id = "btn-matching-reject" style="width: 100%; height: 10%;">거절</button>
      </div>
      <div style="border: 2px solid; height: 35%">뉴스, 공지, 인기글 등등</div>
  </div>

  <script type = "module" src = "/js/main.js"></script>
</body>

<script>
    // document.getElementById("btn-login-form").addEventListener("click", function(){
    //     location.href = "/login"
    // })
    //
    // document.getElementById("btn-start-matching").addEventListener("click", startMatching)
    //
    // document.getElementById("btn-matching-accept").addEventListener("click",function(){
    //     webSocket.send("accept")
    // })
    //
    // document.getElementById("btn-matching-reject").addEventListener("click",function(){
    //     webSocket.send("reject")
    // })
    //
    // let webSocket;
    //
    // // 매칭 시작 함수
    // async function startMatching(){
    //     await isValidateToken(localStorage.getItem("token"));
    //     const token = localStorage.getItem("token")
    //     const mode = document.querySelector('input[name="mode"]:checked').value;
    //     const myLine = document.querySelector('input[name="myLine"]:checked').value;
    //     const duoLine = document.querySelector('input[name="duoLine"]:checked').value;
    //
    //     if(myLine == duoLine){
    //         alert("같은 역할군 간의 매칭은 불가능합니다.")
    //         return;
    //     }
    //
    //     webSocket = await new WebSocket(`ws://localhost:8080/ws/chat?Authorization=${token}&mode=${mode}&myLine=${myLine}&duoLine=${duoLine}`);
    //
    //     webSocket.onmessage = (msg) => {
    //         console.log(msg)
    //         try{
    //             const data = JSON.parse(msg.data)
    //             const chatMessage = document.createElement("div")
    //             const message = document.createElement("p")
    //             // message.innerText = data.username + ": " + data.message
    //             message.innerText = "---------- 상대방 정보 ----------\n"+
    //                 "닉네임: " + data.nickname + "\n" +
    //                 "티어: " + data.tier + "\n" +
    //                 "모드: " + data.mode + "\n" +
    //                 "라인: " + data.myLine + "\n"
    //             ;
    //
    //             chatMessage.appendChild(message)
    //             document.getElementById("div-matching").appendChild(chatMessage)
    //         }catch(e){
    //             const data = msg.data
    //             const chatMessage = document.createElement("div")
    //             const message = document.createElement("p")
    //             // message.innerText = data.username + ": " + data.message
    //             message.innerText = data;
    //             ;
    //
    //             chatMessage.appendChild(message)
    //             document.getElementById("div-matching").appendChild(chatMessage)
    //         }
    //         const data = JSON.parse(msg.data)
    //         const chatMessage = document.createElement("div")
    //         const message = document.createElement("p")
    //         // message.innerText = data.username + ": " + data.message
    //         message.innerText = "---------- 상대방 정보 ----------\n"+
    //             "닉네임: " + data.nickname + "\n" +
    //             "티어: " + data.tier + "\n" +
    //             "모드: " + data.mode + "\n" +
    //             "라인: " + data.myLine + "\n"
    //         ;
    //
    //         chatMessage.appendChild(message)
    //         document.getElementById("div-matching").appendChild(chatMessage)
    //     }
    // }
    //
    // // JWT 토큰 디코딩 후 만료 시간 반환 함수
    // function jwtExpireTime(token) {
    //     const base64Url = token.split(".")[1];
    //     const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
    //     const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
    //         return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    //     }).join(''));
    //     return JSON.parse(jsonPayload).exp;
    // }
    //
    // // ACCESS 토큰 재발급 해서 로컬 스토리지에 저장하는 함수
    // async function reissueJwt(token){
    //     await fetch("/users/reissue-token",{
    //         method: "GET",
    //         headers:{
    //             "Authorization": "Bearer " + token
    //         }
    //     })
    //         .then(function (response){
    //             return response.json()
    //         })
    //         .then(function (json){
    //             if(json.token != undefined){
    //                 const jwt = json.token;
    //                 localStorage.setItem("token", jwt);
    //             }
    //             else location.href = "/login"
    //         })
    // }
    //
    // // ACCESS 토큰이 유효한 지 확인하고 유효하지 않으면 재발급 후 로컬 스토리지에 저장해주는 함수
    // async function isValidateToken(token){
    //     const jwtExpire = await jwtExpireTime(token)
    //     const now = new Date().getTime() / 1000
    //     if(jwtExpire < now){
    //         await reissueJwt(token)
    //     }
    // }

</script>
</html>